.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/class.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.2rem;
    opacity: 0.9;
}

.section-title {
    font-weight: bold;
}

.section-title {
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.section-title::after {
    content: "";
    width: 50%;
    height: 4px;
    background: #ffc107;
    position: absolute;
    bottom: -10px;
    left: 25%;
    border-radius: 2px;
}

.stat-card {
    background: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.stat-card:hover {
    transform: translateY(-10px);
}

.stat-number {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffc107;
}